@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

html {
  box-sizing: border-box;
}

:root {
  --bg-color: #5fbce8;
  --text-color: #1f1f1f;
  --light-color: #fffffe;
  --active-color: #00a4d6;
  --gray-color: #5a6168;
  --first-color: #4d4f52;
  --second-color: #cdb4db;
  --third-color: #ffb703;
  --forth-color: #e63946;
  --fifth-color: #57cc99;
  --sixth-color: linear-gradient(
    to right,
    #ff0000,
    #ffa500,
    #ffff00,
    #008000,
    #0000ff,
    #4b0082,
    #ee82ee
  );
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Poppins', 'Sans-serif';
  flex-direction: column;
}

.main-title {
  color: #fffffe;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
.main-icon {
  margin-left: 15px;
  width: 3rem;
}

h1,
img {
  display: inline-block;
  vertical-align: middle;
}
.container {
  display: flex;
  width: 1050px;
  padding: 10px;
  gap: 16px;
}

section {
  background-color: var(--light-color);
  border-radius: 7px;
}

.tools-menu {
  width: 250px;
  padding: 15px 22px;
}

.tools-menu .row {
  margin-bottom: 20px;
}

.row .options {
  list-style: none;
  margin: 10px 0 0 5px;
}

.row .options .option {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
}

.option:is(:hover, .active) img {
  filter: invert(45%) sepia(82%) saturate(2346%) hue-rotate(163deg)
    brightness(97%) contrast(101%);
}

.option:is(:hover, .active) :where(span, label) {
  color: var(--active-color);
}

.option :where(span, label) {
  color: var(--gray-color);
  padding-left: 10px;
  cursor: pointer;
}

.option #fill-color {
  cursor: pointer;
  width: 15px;
  height: 15px;
  margin: auto 2px;
}

#fill-color:checked ~ label {
  color: var(--active-color);
}

.option #slider {
  width: 100%;
  height: 5px;
  margin-top: 10px;
}

.colors .options {
  display: flex;
  justify-content: space-between;
}

.colors .option {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
}

.colors .option:nth-child(1) {
  background-color: var(--first-color);
}
.colors .option:nth-child(2) {
  background-color: var(--second-color);
}
.colors .option:nth-child(3) {
  background-color: var(--third-color);
}
.colors .option:nth-child(4) {
  background-color: var(--forth-color);
}
.colors .option:nth-child(5) {
  background-color: var(--fifth-color);
}
.colors .option:nth-child(6) {
  background: var(--sixth-color);
}

.option #color-picker {
  opacity: 0;
  cursor: pointer;
}

.colors .option.selected::before {
  content: '';
  width: 12px;
  height: 12px;
  border-radius: inherit;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid var(--light-color);
}

.buttons button {
  all: unset;
  cursor: pointer;
  width: 100%;
  color: var(--light-color);
  font-size: 0.9rem;
  text-align: center;
  border-radius: 4px;
  margin-bottom: 13px;
  padding: 11px 0;
}

.buttons .clear {
  color: var(--gray-color);
  border: 1px solid var(--gray-color);
  transition: all 0.3s ease;
}

.clear:hover {
  background: var(--gray-color);
  color: var(--light-color);
}

.buttons .save {
  background: var(--active-color);
  border: 1px solid var(--active-color);
}

.drawing-board {
  flex: 1;
  overflow: hidden;
}

.drawing-board canvas {
  width: 100%;
  height: 100%;
}
